.col-md-4 {
  min-height: 100vh;
  background: #23272a;
  border-right: 1px solid #2c2f33;
}
.col-md-8 {
  background: #23272a;
  height: 100vh;
}

.rooms span {
  color: #7289da;
  font-size: 30px;
}
.room-list {
  margin-top: 25px;
}
.room-list {
  color: #ffffff;
  text-transform: capitalize;
}
.send {
  display: inline;
  align-items: flex-end;
}

.message-text {
  text-align: center;
  padding: 12px 25px;
  background: #eee;
  margin: 5px 5px;
  border-radius: 9px;
  display: inline-block;
}
.message-username {
  color: #7289da;
}
.input-group span {
  cursor: pointer;
}
.send {
  position: absolute;
  bottom: 0;
  right: 50px;
  left: 15px;
  margin-bottom: 10px;
}
.send .btn {
  position: relative;
  left: 7px;
}
.search {
  position: absolute;
  bottom: 0;
  right: 50px;
  left: 15px;
}
