@import url("https://fonts.googleapis.com/css?family=Mr+De+Haviland|Playfair+Display|Montserrat&display=swap");
.text {
  position: relative;
  bottom: 300px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content1;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: 87px;
  text-align: center;
  font-family: Playfair Display, serif;
  letter-spacing: 1.84167px;
}

.text .path {
  position: relative;
  bottom: 30px;
  left: 20%;
}

.text .btn {
  text-align: center;
  text-decoration: none;
  position: relative;
  bottom: 30px;
}

.text .btn .btn1 {
  background: #bed392;
  border: none;
  color: white;
  padding: 21px 42px;
  text-decoration: none;
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.396667px;
  text-transform: uppercase;
}

body {
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  position: relative;
}

/*
First section 
*/
#showcase {
  background: #e6f0d6;
  position: absolute;
  left: 7.5%;
  right: 0;
  top: 0;
  bottom: 69.69%;
  height: 816px;
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "left content right" "left1 content1 right1" "left2 content2 right2" "left3 content3 right3";
}

.food1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  right: 0;
  -ms-grid-column-align: end;
      justify-self: end;
  position: absolute;
  width: 396px;
  height: auto;
  max-width: 80%;
}

.food2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  position: relative;
  top: 128px;
  height: auto;
  max-width: 100%;
}

.food3 {
  position: absolute;
  top: 629px;
  -ms-grid-column-align: end;
      justify-self: end;
  right: 108px;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column: 3;
  grid-column: 3;
  height: auto;
  max-width: 100%;
}

.shape {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  position: absolute;
  left: 14.72%;
  right: 75.49%;
  width: 140px;
}

.brand {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: Mr De Haviland, cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 1.13333px;
  margin-top: 64px;
  text-align: center;
  color: #000000;
}

/*
Second section, motivational words
*/
#second {
  position: relative;
  left: 7.5%;
  right: 0%;
}

#second .motivational {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  font-family: Playfair Display, serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 3.25vw;
  line-height: 67px;
  letter-spacing: 0.816667px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-top: 342px;
  margin-bottom: 250px;
}

#second .motivational img {
  float: right;
  margin-right: 6rem;
}

#second .name {
  font-family: Mr De Haviland;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 1.13333px;
  text-align: right;
  margin-top: 58px;
  color: #000000;
}

/*
Third section
*/
#third {
  position: relative;
  left: 7.5%;
  right: 0;
  grid-column-gap: 3rem;
}

#third .food4 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  position: absolute;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: left2;
  width: 100%;
  height: auto;
}

#third .parag {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: content2;
  font-family: Montserrat, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.228667px;
  width: 100%;
}

#third .food5 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
  position: absolute;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: content3;
  width: 100%;
  height: auto;
  margin-bottom: 340px;
  margin-top: 18px;
}

#third .shape2 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
  position: absolute;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: left3;
  top: 500px;
}

@media screen and (max-width: 888px) {
  #showcase {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "content" "right" "content1" "left" "right1" "left1" "left2" "content2" "content3" "left3";
    justify-items: center;
  }
  .brand {
    margin-top: 16px;
  }
  .food1 {
    position: static;
    margin: 0;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 24px;
    width: 328px;
    height: auto;
    min-width: 50%;
  }
  .food2 {
    position: static;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 24px;
    width: 328px;
    height: auto;
    min-width: 50%;
  }
  .food3 {
    position: static;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: 1;
    grid-column: 1;
    width: 328px;
    height: auto;
    min-width: 50%;
    margin-bottom: 144px;
  }
  .shape {
    -ms-grid-column: 1;
    grid-column: 1;
    position: absolute;
    bottom: 0;
    width: 82px;
    left: 4.44%;
    right: 72.78%;
  }
  .text {
    font-size: 30px;
    line-height: 41px;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 300px;
    min-width: 50%;
    bottom: 0;
    margin-top: 30px;
    position: static;
  }
  .text .btn {
    margin-top: 79px;
    margin-bottom: 56px;
    position: static;
  }
  .text .path {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #second {
    position: absolute;
    left: 0;
    right: 0;
  }
  #second .motivational {
    margin-top: 80px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.392px;
    width: 328px;
    height: 98px;
    min-width: 50%;
  }
  #second .motivational .path2 {
    width: 194px;
    margin: 0;
  }
  #third {
    grid-gap: 1rem;
    position: absolute;
    left: 0;
    margin-top: 118px;
  }
  #third .food4 {
    position: static;
    width: 328px;
    height: auto;
    min-width: 50%;
    margin-top: 140px;
  }
  #third .parag {
    width: 328px;
    min-width: 50%;
  }
  #third .food5 {
    width: 328px;
    height: auto;
    min-width: 50%;
    margin-bottom: 210px;
  }
  #third .shape2 {
    position: static;
    margin-top: 380px;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 4.72%;
  }
}
/*# sourceMappingURL=style.css.map */